.header-bar{
    background-color: black;
    color: white;
}

.spacer{
    height: 40px;
}

.warning {
    color:red;
}

.ng-valid[required] {
  border: 2px solid green;
}

.my-ng-invalid[required] {
    border: 2px solid red; 
}